<swiper-container fmSwiper [config]="config" init="false">
    <swiper-slide *ngFor="let data of _topArr" #switch>
        <fm-stream-item>
            <a class="swiper-display-link" href="{{ (data.anime?.url || data.manga?.url) | languageContent: 'ru': (data.anime?.malUrl || data.manga?.malUrl) }}" target="_blank" rel="noopener noreferrer">
                <div class="swiper-display-item">
                    <div class="swiper-display-thumbnail-container">
                        <img class="swiper-display-item-img" src="{{ (data.anime?.thumbnail || data.manga?.thumbnail) }}">
                    </div>
                    <div class="swiper-display-item-name" >
                        <span>{{data.score}} ❤️</span>
                    </div>
                </div>
            </a>
        </fm-stream-item>
    </swiper-slide>
</swiper-container>