<div class="top-anime__container">
    <span class="top-anime__header-text">{{'Favourite_anime' | translate}}</span>
    <div class="top-anime__wrapper">
        <div *ngFor="let data of topArr" class="top-anime-item">
            <div class="top-anime-thumbnail-container">
                <img class="top-anime-item-img" src="{{ imageDataPath + (data.anime?.image?.original || data.manga?.image?.original) }}">
            </div>
            <div class="top-anime-item-name">
                <span>{{data.anime?.[fieldName] || data.manga?.[fieldName]}}</span>
                <span>{{data.score}} ❤️</span>
            </div>
        </div>
    </div>
</div>