.anime-stat-lists {

  &__summary {
    font-weight: 700;
    margin-right: 5px;
  }

  &__extension {
    background-color: transparent;
  }

  &__table {
    margin-bottom: 15px;
  }

  &__filter {
    width: 100%;
  }

  &__list-title {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
}

.mat-expansion-panel {
  box-shadow: unset;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex: 1;
  margin-right: 16px;
}