<swiper-container class="anime-community-data-swiper-container" fmSwiper [config]="config" init="false">
    <swiper-slide class="anime-community-data-swiper-slide" *ngFor="let entry of data">
        <fm-stream-item>
            <a 
                class="anime-community-data-swiper-link" 
                href="{{ (entry.anime?.url || entry.manga?.url) | languageContent: 'ru': (entry.anime?.malUrl || entry.manga?.malUrl) }}" 
                target="_blank" 
                rel="noopener noreferrer">
                <div class="test">
                    <div class="anime-community-data-swiper-name-img__container">
                        <!-- swiper-display-item-img  -->
                        <img loadImage class="anime-community-data-swiper-img" src="{{ (entry.anime?.thumbnail || entry.manga?.thumbnail) }}">
                    </div>
                    <div class="anime-community-data-swiper-name">
                        <div class="d-flex flex-row align-items-center">
                            <span class="mr-2" [ngClass]="{'anime-community-data-swiper-bold':!isUserScoreHigher}">{{entry.anime?.score || entry.manga?.score}}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            </svg>
                        </div>
                        
                        <span [ngClass]="{'anime-community-data-swiper-bold':isUserScoreHigher}">{{entry.score}} ❤️</span>
                    </div>
                </div>
            </a>
        </fm-stream-item>
    </swiper-slide>
</swiper-container>