<div class="frame" id="Frame">
  <div class="frame_line frame_line-left"></div>
  <div class="frame_line frame_line-right"></div>
  <div class="frame_line frame_line-top"></div>
  <div class="frame_line frame_line-bottom"></div>
</div>

<header class="siteHeader" id="SiteHeader">
  <h1 class="siteHeader_title">Babunov Ilya</h1>
  <p class="siteHeader_label">Software Engineer</p>
</header>

<div class="page_content home">
  <p class="home_aboutme">
    <span>This project</span>
    <span>was developed</span>
    <span>using Angular,</span>
    <span>keeping all external</span>
    <span>dependencies at </span>
    <span>minimum. I hope</span>
    <span>you find this</span>
    <span>site intresting.</span>
  </p>
</div>
