<body class="bg">
    <div class="anime blurred-effect container">
        <div class="anime__wrapper" *ngIf="!isLoading">
            <span class="anime__header">{{'STATS' | translate}}</span>
            <div class="anime__credits">
                <span class="anime__header-medium">{{'DATA_PROVIDER' | translate}}</span>
                <a class="anime__credits-provider" href="https://shikimori.one/McFck">
                    <span>SHIKIMORI</span>
                </a>
                <span class="anime__credits-provider">|</span>
                <a class="anime__credits-provider" href="https://shikimori.one/api/doc">API</a>
            </div>
            
            <app-top-anime [allData]="allData"></app-top-anime>

            <app-anime-time [allData]="allData"></app-anime-time>

            <div>
                <div class="anime__statistics-container">
                    <div class="anime__statistics-block">
                        <div class="anime__statistics-header">
                            <span class="anime__header-medium">{{'TOTAL_WATCHED_ANIME' | translate}}</span>
                            <span class="anime__header-data">{{statistics['anime']?.totalAmount}}</span>
                        </div>
                        <div class="anime__piechart-pie">
                            <div class="anime__piechart-pie" id="status-anime-pie"></div>
                        </div>
                    </div>

                    <div class="anime__statistics-block">
                        <div class="anime__statistics-header">
                            <span class="anime__header-medium">{{'TOTAL_READ_MANGA' | translate}}</span>
                            <span class="anime__header-data">{{statistics['manga']?.totalAmount}}</span>
                        </div>
                        <div class="anime__piechart-pie">
                            <div class="anime__piechart-pie" id="status-manga-pie"></div>
                        </div>
                    </div>

                    <div class="anime__statistics-block">
                        <div class="anime__statistics-header">
                            <span class="anime__header-medium">{{'MEDIUM_RATING' | translate}}</span>
                            <span class="anime__header-data">{{statistics['anime']?.mediumScore | number:'1.0-1'}}</span>
                        </div>
                        <div class="anime__piechart-pie">
                            <div class="anime__piechart-pie" id="score-anime-bar"></div>
                        </div>
                    </div>

                    <div class="anime__statistics-block">
                        <div class="anime__statistics-header">
                            <span class="anime__header-medium">{{'MEDIUM_RATING' | translate}}</span>
                            <span class="anime__header-data">{{statistics['manga']?.mediumScore | number:'1.0-1'}}</span>
                        </div>
                        <div class="anime__piechart-pie">
                            <div class="anime__piechart-pie" id="score-manga-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-anime-history></app-anime-history>
            </div>
        </div> 
    </div>
    <div *ngIf="isLoading">
        <img class="anime__chika" src="/assets/chika-loading.gif" alt="{{'LOADING' | translate}}"  width="250" />
    </div>
</body>