<div class="bg" [ngStyle]="!currentUser && { 'height': '100%' }">
    <div class="anime blurred-effect container" [ngStyle]="!currentUser && { 'height': '100%' }">
        <div class="anime__wrapper" *ngIf="!isLoading">
            <a class="anime__customname" *ngIf="username" [href]="currentUser?.url">{{'FROM_PERSPECTIVE' | translate}} {{username}}</a>
            <span class="anime__header">{{'STATS' | translate}}</span>
            <div class="anime__credits">
                <span class="anime__header-medium">{{'DATA_PROVIDER' | translate}}</span>
                <a class="anime__credits-provider" href="https://shikimori.me/McFck" target="_blank" rel="noopener noreferrer">
                    <div class="d-flex">
                        <span>
                            SHIKIMORI
                        </span>
                        <div class="d-flex ml-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                            </svg>
                        </div>
                    </div>
                </a>
                <span class="anime__credits-provider">|</span>
                <a class="anime__credits-provider" href="https://shikimori.me/api/doc" target="_blank" rel="noopener noreferrer">
                    <div class="d-flex">
                        <span>
                            API
                        </span>
                        <div class="d-flex ml-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            
            <app-custom-id-field></app-custom-id-field>

            <ng-container *ngIf="currentUser else noUser">
                <app-top-anime *ngIf="(allData | json) != '{}'" [allData]="allData"></app-top-anime>

                <app-anime-time *ngIf="(allData | json) != '{}'" [allData]="allData"></app-anime-time>

                <div>
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="anime__nav">
                        <li [routerLinkActive]="['active']" [ngbNavItem]="1" [destroyOnHide]="false" class="anime__nav-item">
                            <a ngbNavLink>{{'GENERAL_STATS' | translate}}</a>
                            <ng-template ngbNavContent>
                                <app-anime-stats-graphics [allData]="allData" [statistics]="statistics"></app-anime-stats-graphics>
                            </ng-template>
                        </li>
                        <li [routerLinkActive]="['active']" [ngbNavItem]="2" class="anime__nav-item" [disabled]="!allData.anime?.length">
                            <a ngbNavLink>{{'ANIME_LIST' | translate}}</a>
                            <ng-template ngbNavContent>
                                <app-anime-stats-lists [data]="allData.anime"></app-anime-stats-lists>
                            </ng-template>
                        </li>
                        <li [routerLinkActive]="['active']" [ngbNavItem]="3" class="anime__nav-item" [disabled]="!allData.manga?.length">
                            <a ngbNavLink>{{'MANGA_LIST' | translate}}</a>
                            <ng-template ngbNavContent let-active>
                                <app-anime-stats-lists [data]="allData.manga"></app-anime-stats-lists>
                            </ng-template>
                        </li>
                    </ul>

                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
                <div>
                    <app-anime-history [data]="allData"></app-anime-history>
                </div>
            </ng-container>
        </div> 
    </div>
    <div *ngIf="isLoading">
        <div class="anime__chika-background"></div>
        <img class="anime__chika" src="/assets/chika-loading.gif" alt="{{'LOADING' | translate}}"  width="250" />
    </div>
    <ng-template #noUser> 
        <div class="anime__no-user">{{'USER_NOT_FOUND' | translate}}</div>
    </ng-template>
</div>