<body class="bg">
    <div class="anime blurred-effect container">
        <div class="anime__wrapper" *ngIf="!isLoading">
            <span class="anime__header">{{'STATS' | translate}}</span>
            <div class="anime__credits">
                <span class="anime__header-medium">{{'DATA_PROVIDER' | translate}}</span>
                <a class="anime__credits-provider" href="https://shikimori.me/McFck">
                    <span>SHIKIMORI</span>
                </a>
                <span class="anime__credits-provider">|</span>
                <a class="anime__credits-provider" href="https://shikimori.me/api/doc">API</a>
            </div>
            
            <app-top-anime [allData]="allData"></app-top-anime>

            <app-anime-time [allData]="allData"></app-anime-time>

            <div>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="anime__nav">
                    <li [routerLinkActive]="['active']" [ngbNavItem]="1" [destroyOnHide]="false" class="anime__nav-item">
                        <a ngbNavLink>{{'GENERAL_STATS' | translate}}</a>
                        <ng-template ngbNavContent>
                            <app-anime-stats-graphics [allData]="allData" [statistics]="statistics"></app-anime-stats-graphics>
                        </ng-template>
                    </li>
                    <li [routerLinkActive]="['active']" [ngbNavItem]="2" class="anime__nav-item">
                        <a ngbNavLink>{{'ANIME_LIST' | translate}}</a>
                        <ng-template ngbNavContent>
                            <app-anime-stats-lists [data]="allData.anime"></app-anime-stats-lists>
                        </ng-template>
                    </li>
                    <li [routerLinkActive]="['active']" [ngbNavItem]="3" class="anime__nav-item">
                        <a ngbNavLink>{{'MANGA_LIST' | translate}}</a>
                        <ng-template ngbNavContent let-active>
                            <app-anime-stats-lists [data]="allData.manga"></app-anime-stats-lists>
                        </ng-template>
                    </li>
                </ul>
                
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
            <div>
                <app-anime-history></app-anime-history>
            </div>
        </div> 
    </div>
    <div *ngIf="isLoading">
        <img class="anime__chika" src="/assets/chika-loading.gif" alt="{{'LOADING' | translate}}"  width="250" />
    </div>
</body>