.anime-stats-table {
    &__table,
    &__paginator {
      background-color: #e5fbff29;
    }
  
    &__ongoing {
      color: #0a4f0a;
      margin-left: 5px;
      font-size: 10px;
    }
  
    &__name-row {
      display: flex;
      flex-direction: row;
    }
  
    &__gold {
      background-color: #ffd70029;
    }
  
    &__silver {
      background-color: #C0C0C0;
    }
  
    &__bronze {
      background-color: #cd7f3247;
    }

    &__nothing-found {
        word-break: break-all;
    }
  }
  
  table.mat-table {
    width: 100%;
    border-spacing: 0;
  }
  