    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="anime-stats-table__table" matSortActive="score" matSortDirection="desc">
  
      <!-- ID Column -->
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let i = index"> {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name' | translate}} </th>
        <td mat-cell *matCellDef="let row"> 
          <div class="anime-stats-table__name-row">
            <a href="{{row.url}}">
              {{row[historyFieldName]}} 
            </a>
            <div *ngIf="row.status === 'ongoing'" class="anime-stats-table__ongoing">
              {{'ONGOING' | translate}}
            </div> 
          </div>
        </td>
      </ng-container>
  
      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Score' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.score === undefined ? ('NOT RATED' | translate) : row.score}} </td>
      </ng-container>
  
      <!-- Episodes Column -->
      <ng-container matColumnDef="episodes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Episodes' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.episodesWatched}} / {{row.episodes === 0 ? '?' : row.episodes}} </td>
      </ng-container>

      <!-- Chapters Column -->
      <ng-container matColumnDef="chapters">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Chapters' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.chaptersRead}} / {{row.chapters === 0 ? '?' : row.chapters}} </td>
      </ng-container>

      <!-- Kind Column -->
      <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Kind' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.kind | translate}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
      [class.anime-stats-table__gold]='row.score === 10' 
      [class.anime-stats-table__silver]='row.score === 9'
      [class.anime-stats-table__bronze]='row.score === 8'
      *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell anime-stats-table__nothing-found" colspan="4">{{'NOTHING FOUND' | translate}}</td>
      </tr>
    </table>
  
    <mat-paginator class="anime-stats-table__paginator" [pageSize]="30" [pageSizeOptions]="[30, 60, 100]" aria-label="Select page of"></mat-paginator>
  </div>