<div class="anime-history__container">
    <span class="anime-history__header">{{'ANIME_HISTORY' | translate}}</span>

    <mat-spinner *ngIf="isHistoryLoading"></mat-spinner>
    <div class="anime-history__item-image-wrapper" *ngIf="!isHistoryLoading">
        <div class="anime-history__item" *ngFor="let historyItem of history; index as i">
            <div class="anime-history__item">
                <div class="anime-history__item-image">
                    <span class="anime-history__selectable" (click)="goToHistory(imageDataPath + historyItem.target.url, historyItem.target.malUrl)">
                        <img class="anime-history__thumbnail" src="{{ imageDataPath + historyItem.target.image.x96 }}">
                        <div class="anime-history__item-block">
                            <a class="anime-history__item-title" href="{{(imageDataPath + historyItem.target.url)| languageContent: 'ru': historyItem.target.malUrl}}">{{ historyItem.target[historyFieldName] }}</a>
                            <span class="anime-history__bottom" innerHTML="{{ historyItem.description }}"></span>
                            <span class="anime-history__bottom">{{ historyItem.created_at | dateAgo }}</span>
                        </div>
                    </span>
                    
                    <div class="anime-history__arrows" *ngIf="i !== history?.length - 1">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
