<div class="bg"></div>
<div class="compare__container">
    <ng-container *ngIf="isLoading">
        <div class="compare__porco-background"></div>
        <img class="compare__porco" src="/assets/porco-rosso-loading.gif" alt="{{'LOADING' | translate}}" width="250" />
    </ng-container>
    <div class="compare__hint">
        <mat-expansion-panel class="compare__hint-expansion">
            <mat-expansion-panel-header>
                <div class="compare__hint-text">
                    <span class="mr-2">{{'COMPARE_INSTRUCTIONS' | translate}}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </div>
            </mat-expansion-panel-header>
        <div class="compare__hint-description">
            <span [innerHTML]="'COMPARE_HINT_FILL1' | translate"></span>
            <span [innerHTML]="'COMPARE_HINT_FILL2' | translate"></span>
            <span [innerHTML]="'COMPARE_HINT_FILL3' | translate"></span>
        </div>
        </mat-expansion-panel>
    </div>
    
    <!-- Mobile -->
    <ng-container *appResponsiveTemplate="[false, true]">
        <mat-tab-group class="ml-2 mr-2" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab label="Первый">
                <cmp-user-card 
                    class="d-flex flex-column mt-2" 
                    [label]="'USER_N' | translate : {n: 1}" 
                    (isLoading)="isLoading = $event" 
                    (userFetchEvent)="userFetchProcess($event, 'left')" 
                    [user]="users.left">
                </cmp-user-card>
            </mat-tab>
            <mat-tab label="Второй">
                <cmp-user-card 
                    class="d-flex flex-column mt-2" 
                    [label]="'USER_N' | translate : {n: 2}" 
                    (isLoading)="isLoading = $event" 
                    (userFetchEvent)="userFetchProcess($event, 'right')" 
                    [user]="users.right">
                </cmp-user-card>
            </mat-tab>
        </mat-tab-group> 
        <ng-container *ngFor="let key of objectKeys(connectionRefsConfig)">
            <ng-container *ngIf="connectionRefsConfig[key]">
                <div class="compare__button" (click)="fetchCompareData(key)">
                    <ng-container [ngTemplateOutlet]="this[key]"></ng-container>
                    <span class="compare__error">{{errorMessage}}</span>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <!-- Desktop -->
    <ng-container *appResponsiveTemplate="[true, false]">
        <div class="compare__user-inputs">
            <cmp-user-card 
                class="d-flex flex-column mt-2" 
                [label]="'USER_N' | translate : {n: 1}" 
                (isLoading)="isLoading = $event" 
                (userFetchEvent)="userFetchProcess($event, 'left')" 
                [user]="users?.left">
            </cmp-user-card>
            <ng-container *ngFor="let key of objectKeys(connectionRefsConfig)">
                <ng-container *ngIf="connectionRefsConfig[key]">
                    <div class="compare__button" (click)="fetchCompareData(key)">
                        <ng-container [ngTemplateOutlet]="this[key]"></ng-container>
                        <span class="compare__error">{{errorMessage}}</span>
                    </div>
                </ng-container>
            </ng-container>
            <cmp-user-card 
                class="d-flex flex-column mt-2" 
                [label]="'USER_N' | translate : {n: 2}" 
                (isLoading)="isLoading = $event" 
                (userFetchEvent)="userFetchProcess($event, 'right')" 
                [user]="users?.right">
            </cmp-user-card>
        </div>
    </ng-container>

    <div *ngIf="isProcessed">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="compare__nav" (navChange)="tabStatus[$event.nextId] = true">
            <li [routerLinkActive]="['active']" [ngbNavItem]="1" [destroyOnHide]="false" class="compare__nav-item">
                <a ngbNavLink>{{'ANIME' | translate}}</a>
                <ng-template ngbNavContent>
                    <compare-lists [data]="someData"></compare-lists>
                </ng-template>
            </li>
            <!-- [disabled]="!allData.anime?.length" -->
            <li [routerLinkActive]="['active']" [ngbNavItem]="2" class="compare__nav-item">
                <a ngbNavLink>{{'MANGA' | translate}}</a>
                <ng-template ngbNavContent>
                    <compare-lists *ngIf="tabStatus[2] === true" [data]="someData" [type]="'manga'"></compare-lists>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>



<!-- Connection btns -->

<ng-template #errorConnection>
    <div class="compare__connection-error">
        <svg class="compare__father-icon compare__icon" viewBox="0 0 32 32">
              <rect width="64" height="64" />
        </svg>
        <svg class="compare__mother-icon compare__icon" viewBox="32 0 32 32">
              <rect width="64" height="64" />
        </svg>
    </div>
</ng-template>

<ng-template #progressConnection>
    <div class="compare__connection-connecting">
        <svg class="compare__father-icon compare__icon" viewBox="0 0 32 32">
              <rect width="64" height="64" />
        </svg>
    
        <svg class="compare__mother-icon compare__icon" viewBox="32 0 32 32">
              <rect width="64" height="64" />
        </svg>
    </div>
</ng-template>

<ng-template #establishedConnection>
    <div class="compare__connection-connected">
        <svg class="compare__father-icon compare__icon" viewBox="0 0 32 32">
              <rect width="64" height="64" />
        </svg>
    
        <svg class="compare__mother-icon compare__icon" viewBox="32 0 32 32">
              <rect width="64" height="64" />
        </svg>
    </div>
</ng-template>